.block {
    width: 3.8%;
    height: 7.35%;
    border: #000 solid 2px;
    cursor: move;
    position: absolute;
    z-index: 1;
    text-align: center;
    vertical-align: middle;
    line-height: 7.35%;
    font-family: 'Corben', Georgia, Times, serif;
}

.block span {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#gadgetWrapper {
    float: left;
    width: 200px;
    font-weight: bold;
}

#taskOverviewWrapper {
    position: relative;
    top: 0%;
    right: 3%;
    width: 200px;
}

#gestureToggle {
    width: 1.08%;
    height: 2.12%;
    background-color: black;
    cursor: move;
    position: absolute;
    visibility: hidden;
    left: auto;
    top: auto;
    z-index: 5;
    vertical-align: middle;
    line-height: 2.12%;
  }

div.fixed {
    position: fixed;
    bottom: 0px;
    right: 100px;
}

p.taskQ {
    position: relative;
    top:0px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

div.instruction {
    position: relative;
    top: -12px;
    left: 0px;
    width: 80%;
}

div.numofwords {
    display: inline;
}

button#buttonEnd {
    position: absolute;
    top: 70%;
    left: 2%;
    width: 5%;
    height: 5%;
}

button#buttonStart {
    position: absolute;
    top: 50%;
    left: 2%;
    width: 5%;
    height: 5%;
}


a.buttonLike {
  font: Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

p.gesture {
    position: absolute;
    top: 130px;
    left: 30px;
}

p.movement {
    position: absolute;
    top: 260px;
    left: 25px;
}

div.referenceLink {
    position: absolute;
    left: 60%;
    top: 7%;
    z-index: 1;
    color: white;
    visibility:hidden;
}

div.showChosen {
    position: absolute;
    left: 1200px;
    top: 100px;
    z-index: 1;
    color: white;
}

 /*Popup container - can be anything you want */
.popup {
    position: fixed;
    top: 20px;
    right: 10px;
    width: 300px;
    height: 80px;
    display: inline-block;
    cursor: pointer;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */

.popuptext {
    visibility: hidden;
    width: 450px;
    height: 580px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    right: -3%;
    top: 85%;
    text-align: left;
    padding: 10px;
    line-height:1.5;
    cursor: pointer;
    display: table;
    z-index: 2;
}

/* Toggle this class - hide and show the popup */
.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

div.AudioRecord {
    position: relative;
    top: 700px;
    left: 50px;
    width: 600px;
    height: 300px;
}

div.liveAudio {
    position: absolute;
    top: 60px;
    left: 800px;
    width: 600px;
    height: 300px;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

#disablingDiv {
    /* Do not display it on entry */
    display: none;

    /* Display it on the layer with index 1001.
       Make sure this is the highest z-index value
       used by layers on that page */
    z-index:200;

    /* make it cover the whole screen */
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;

    /* make it white but fully transparent */
    background-color: black;
    opacity:.70;
    filter: alpha(opacity=00);
}

#tutorial1 {
    z-index: 300;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

#tutorial2 {
    visibility: hidden;
    z-index: 400;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

#containerPointer {
    width: 1200px;
    height: 600px;
    position: absolute;
    top:120px;
    left:180px;
    margin: auto;
    border:white solid 8px;
}

#tutorial3 {
    visibility: hidden;
    z-index: 500;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

#tutorial4 {
    visibility: hidden;
    z-index: 600;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

#tutorial5 {
    visibility: hidden;
    z-index: 650;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

#tutorial6 {
    visibility: hidden;
    z-index: 700;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

#tutorial7 {
    visibility: hidden;
    z-index: 750;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

#tutorial8 {
    visibility: hidden;
    z-index: 800;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

#disablingDiv {
    /* Do not display it on entry */
    display: none;

    /* Display it on the layer with index 1001.
       Make sure this is the highest z-index value
       used by layers on that page */
    z-index:100;

    /* make it cover the whole screen */
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;

    /* make it white but fully transparent */
    background-color: black;
    opacity:.60;
    filter: alpha(opacity=00);
}

#freeze {
    text-align: center;
    position: absolute;
    top: 40%;
    width: 40%;
    left: 30%;
    font-size:20px;
    z-index: 2001;
    font-family:verdana;
    opacity:1.00;
    filter: alpha(opacity=00);
}
