#container {
    width: 1200px;
    height: 600px;
    position: absolute;
    background-image: url(img/parchment.jpg);
    top:120px;
    left:180px;
    margin: auto;
    border:#000 solid 8px;
    -webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
}

#gadgetWrapper {
    float: left;
    width: 200px;
}

#taskOverviewWrapper {
    position: relative;
    top: 0%;
    right: 3%;
    width: 200px;
}

#gestureToggle {
    width: 20px;
    height: 20px;
    background-color: black;
    cursor: move;
    position: absolute;
    visibility: hidden;
    left: auto;
    top: auto;
    z-index: 1;
    vertical-align: middle;
    line-height: 50px;
  }

#gestureCount {
	width: 50px;
    height: 50px;
    border: #000 solid 4px;
    background: gray;
    position: absolute;
    top: 150px;
    left: 50px;
}

#MovementCount {
    width: 50px;
    height: 50px;
    border: #000 solid 4px;
    background: gray;
    position: absolute;
    top: 280px;
    left: 50px;
}

div.fixed {
    position: fixed;
    bottom: 0px;
    right: 100px;
}

p.taskQ {
    position: relative;
    top:0px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
/*		select.menu {
    position: absolute;
    top: 28px;
    left: 210px;
}*/

div.instruction {
    position: relative;
    top: -12px;
    left: 0px;
    width: 400px;
    z-index: 1;
}

div.numofwords {
    display: inline;
}

button.buttonEnd {
    background-image: url(img/startButton.png);
    position: absolute;
    top: 550px;
    left: 50px;
    width: 68px;
    height: 40px;
}

button.buttonStart {
    background-image: url(img/startButton.png);
    position: absolute;
    top: 450px;
    left: 50px;
    width: 68px;
    height: 40px;
}

a.buttonLike {
  font: Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

p.gesture {
    position: absolute;
    top: 130px;
    left: 30px;
}

p.movement {
    position: absolute;
    top: 260px;
    left: 25px;
}

div.referenceLink {
    position: relative;
    left: 500px;
    top: -80px;
    z-index: 1;
    color: white;
    visibility:hidden;
}

div.showChosen {
    position: absolute;
    left: 510px;
    top: 85px;
    z-index: 1;
    color: white;
}

 /*Popup container - can be anything you want */
.popup {
    position: fixed;
    top: 20px;
    right: 10px;
    width: 300px;
    height: 80px;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */

.popuptext {
    visibility: hidden;
    width: 450px;
    height: 580px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    right: -3%;
    top: 85%;
    text-align: left;
    padding: 10px;
    line-height:1.5;
    cursor: pointer;
}

/* Toggle this class - hide and show the popup */
.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

div.AudioRecord {
    position: relative;
    top: 700px;
    left: 50px;
    width: 600px;
    height: 300px;
}

div.liveAudio {
    position: absolute;
    top: 80px;
    left: 800px;
    width: 600px;
    height: 300px;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
