.modal {
    color: white;
    background-color: #555555;
}

.modalButton {
    background-color: #008CBA;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    float: right;
    margin: 5px; 15px;
}

.modalButton:hover {
    background-color: #009ACD;
}

.modalCloseButton {
    background-color: #F44336;
}

.modalCloseButton:hover {
    background-color: #FF503B;
}
