#container {
    width: 70%;
    height: 70%;
    position: absolute;
    background-image: url(img/parchment.jpg); 
    top:15%;
    left:10%;
    margin: auto;
    z-index: 1;
    border:#000 solid 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;

    -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover; 
     background-size: 100% 100%;

     background-repeat: no-repeat;
     background-position: center center; 
}

.block {
    width: 50px;
    height: 50px;
    border: #000 solid 4px;
    cursor: move;
    position: absolute;
    z-index: 1;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-family: 'Corben', Georgia, Times, serif;
}

#gadgetWrapper {
    float: left;
    width: 200px;
    font-weight: bold;
}

#taskOverviewWrapper {
    position: relative;
    top: 0%;
    right: 3%;
    width: 200px;
}

#gestureToggle {
    width: 20px;
    height: 20px;
    background-color: black;
    cursor: move;
    position: absolute;
    visibility: hidden;
    left: auto;
    top: auto;
    z-index: 5;
    vertical-align: middle;
    line-height: 50px;
  }

#gestureCount {
	width: 50px;
    height: 50px;
    border: #000 solid 4px;
    background: gray;
    position: absolute;
    top: 150px;
    left: 50px;
}

#MovementCount {
    width: 50px;
    height: 50px;
    border: #000 solid 4px;
    background: gray;
    position: absolute;
    top: 280px;
    left: 50px;
}

div.fixed {
    position: fixed;
    bottom: 0px;
    right: 100px;
}

p.taskQ {
    position: relative;
    top:0px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

div.instruction {
    position: relative;
    top: -12px;
    left: 0px;
    width: 1600px;
}


div.user_message {
    position: absolute;
    top: 90px;
    left: 500px;
}

div.numofwords {
    display: inline;
}

button.buttonEnd {
    background-image: url(img/startbutton.png);
    position: absolute;
    top: 550px;
    left: 50px;
    width: 68px;
    height: 40px;
}

button.buttonStart {
    background-image: url(img/startbutton.png);
    position: absolute;
    top: 450px;
    left: 50px;
    width: 68px;
    height: 40px;
}

a.buttonLike {
  font: Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

p.gesture {
    position: absolute;
    top: 130px;
    left: 30px;
}

p.movement {
    position: absolute;
    top: 260px;
    left: 25px;
}

div.referenceLink {
    position: absolute;
    left: 60%;
    top: 7%;
    z-index: 1;
    color: white;
    visibility:hidden;
}

div.showChosen {
    position: absolute;
    left: 500px;
    top: 100px;
    z-index: 1;
    color: white;
}

 /*Popup container - can be anything you want */
.popup {
    position: fixed;
    top: 20px;
    right: 10px;
    width: 300px;
    height: 80px;
    display: inline-block;
    cursor: pointer;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */

.popuptext {
    visibility: hidden;
    width: 450px;
    height: 580px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    right: -3%;
    top: 85%;
    text-align: left;
    padding: 10px;
    line-height:1.5;
    cursor: pointer;
    display: table;
}

/* Toggle this class - hide and show the popup */
.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

div.AudioRecord {
    position: relative;
    top: 700px;
    left: 50px;
    width: 600px;
    height: 300px;
}

div.liveAudio {
    position: absolute;
    top: 60px;
    left: 800px;
    width: 600px;
    height: 300px;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

#disablingDivtop {
    /* Do not display it on entry */
    display: none; 
 
    /* Display it on the layer with index 1001.
       Make sure this is the highest z-index value
       used by layers on that page */
    z-index:100;
    
    /* make it cover the whole screen */
    position: absolute; 
    top: 0%; 
    left: 0%; 
    width: 100%; 
    height: 15%; 
 
    /* make it white but fully transparent */
    background-color: black; 
    opacity:.70; 
    filter: alpha(opacity=00); 
}

#disablingDivleft {
    /* Do not display it on entry */
    display: none; 
 
    /* Display it on the layer with index 1001.
       Make sure this is the highest z-index value
       used by layers on that page */
    z-index:100;
    
    /* make it cover the whole screen */
    position: absolute; 
    top: 15%; 
    left: 0%; 
    width: 10%; 
    height: 85%; 
 
    /* make it white but fully transparent */
    background-color: black; 
    opacity:.70; 
    filter: alpha(opacity=00); 
}

#disablingDivright {
    /* Do not display it on entry */
    display: none; 
 
    /* Display it on the layer with index 1001.
       Make sure this is the highest z-index value
       used by layers on that page */
    z-index:100;
    
    /* make it cover the whole screen */
    position: absolute; 
    top: 15%; 
    right: 0%; 
    width: 20%; 
    height: 85%; 
 
    /* make it white but fully transparent */
    background-color: black; 
    opacity:.70; 
    filter: alpha(opacity=00); 
}

#disablingDivbottom {
    /* Do not display it on entry */
    display: none; 
 
    /* Display it on the layer with index 1001.
       Make sure this is the highest z-index value
       used by layers on that page */
    z-index:100;
    
    /* make it cover the whole screen */
    position: absolute; 
    bottom: 0%; 
    left: 10%; 
    width: 70%; 
    height: 15%; 
 
    /* make it white but fully transparent */
    background-color: black; 
    opacity:.70; 
    filter: alpha(opacity=00); 
}

#disablingDivcenter {
    /* Do not display it on entry */
    display: none; 
 
    /* Display it on the layer with index 1001.
       Make sure this is the highest z-index value
       used by layers on that page */
    z-index:100;
    
    /* make it cover the whole screen */
    position: absolute; 
    top: 15%; 
    left: 10%; 
    width: 70%; 
    height: 70%; 
 
    /* make it white but fully transparent */
    background-color: black; 
    opacity:.70; 
    filter: alpha(opacity=00); 
}

#tutorial1 {
    z-index: 300;
    position: absolute; 
    top: 0%; 
    left: 0%; 
    width: 100%; 
    height: 100%; 
}

#tutorial2 {
    visibility: hidden;
    z-index: 400;
    position: absolute; 
    top: 0%; 
    left: 0%; 
    width: 100%; 
    height: 100%; 
}

#containerPointer {
    width: 70%;
    height: 70%;
    position: absolute;
    top:15%;
    left:10%;
    margin: auto;
    border:white solid 8px;
}

